
/*Main content*/
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 60px;
  }
}
/* footer */
.footer {
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #f5f5f5;
}
/*floor Selector*/
.rectangle {
  width: 100%;
  height: 30px;
  background: grey;
}

.triangle-container {
  width: 100%;
  height: 50px;
  background-color: transparent;
}

.triangle {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, transparent 50%, grey 50%), linear-gradient(to bottom left, transparent 50%, grey 50%);
  background-size: 50.2% 100%;
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
}
/* Sidebar */
#sidebar-wrapper {
    left: -300px;
    width: 300px;
    background-color: #f5f5f5;
    position: fixed;
    height: 100%;
    z-index: 1;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 350px;
    list-style: none;
}
#sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -300px;
}
@media (min-width: 768px){
    #sidebar-wrapper.sidebar-toggle{
        transition: 0s;
        left: 300px;
    }
}
/*hamburger navbar */
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar {
    margin-bottom: -5px;
}
/* form*/
.icon-recurso{
    height:75px;
    width:75px;
}
.input-group{
    padding: 10px;
}
.input-group-addon{
    word-wrap: break-word;
}
