/*
ooo        ooooo       .o.       ooooo ooooo      ooo
`88.       .888'      .888.      `888' `888b.     `8'
 888b     d'888      .8"888.      888   8 `88b.    8
 8 Y88. .P  888     .8' `888.     888   8   `88b.  8
 8  `888'   888    .88ooo8888.    888   8     `88b.8
 8    Y     888   .8'     `888.   888   8       `888
o8o        o888o o88o     o8888o o888o o8o        `8
*/

@media (min-width: 768px) {
    .main {
        padding-left: 30px;
        padding-bottom: 60px;
    }
}


/*
.oooooo..o ooooo oooooooooo.   oooooooooooo oooooooooo.        .o.       ooooooooo.
d8P'    `Y8 `888' `888'   `Y8b  `888'     `8 `888'   `Y8b      .888.      `888   `Y88.
Y88bo.       888   888      888  888          888     888     .8"888.      888   .d88'
`"Y8888o.   888   888      888  888oooo8     888oooo888'    .8' `888.     888ooo88P'
    `"Y88b  888   888      888  888    "     888    `88b   .88ooo8888.    888`88b.
oo     .d8P  888   888     d88'  888       o  888    .88P  .8'     `888.   888  `88b.
8""88888P'  o888o o888bood8P'   o888ooooood8 o888bood8P'  o88o     o8888o o888o  o888o
*/

#sidebar-wrapper {
    left: -300px;
    width: 300px;
    background-color: #fffae6;;
    position: fixed;
    height: 100%;
    z-index: 1;
    overflow: auto;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 350px;
    list-style: none;
}

#sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -300px;
    z-index: 5;
}

@media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: 0s;
        left: 300px;
    }

    .col-sm-offset-3 {
      margin-left: 300px;
    }

    .col-sm-9 {
      width: calc(100% - 320px);
    }

    .col-md-6 {
      min-width: 102%;
    }

}

@media (min-width: 992px){
    .main {
      padding: 0;
    }

    .col-md-4 {
      margin-left: -5%;
    }

    .col-md-6{
      padding: 0;
      margin-left: 7%;
      width: 55%;
      min-width: unset;
    }
}


/*hamburger navbar */

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar {
    margin-bottom: -5px;
}

#menu-toggle {
  margin-bottom: 0;
  z-index: 10;
  background-color: lightgrey;
  position: absolute;
  right: 50px;
  top: 2px;
}

#modal_div {
  padding: 20px 15px;
}

#form_sb > #modal_div > div:first-child > select {
    max-width: 70%;
}

@media (min-width: 768px) {
  #form_sb > #modal_div > div:first-child > select {
      max-width: 100%;
  }
}


#form_sb > #modal_div > .input-group > span {
  max-width: 200px;
}

#modal_div > .input-group > span {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}



@media (min-width: 380px) {
  #modal_div > .input-group > span {
    max-width: 220px;
  }

  #participants_container {
    max-width: 255px;
  }
}



#form_sb {
  margin-bottom: 0;
}

.btn_aplicar {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
}

.custom-btn, .btn-rooms.active, .list-group-item.active, .list-group-item:hover {
  background-color: #ffd24d !important;
  border: solid 1px #000000;
  color: #000000 !important;
}


#logo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px auto;
  width: 250px;
  height: 170px;
}



/*
ooooooooo.   ooooo  .oooooo..o   .oooooo.    .oooooo..o
`888   `Y88. `888' d8P'    `Y8  d8P'  `Y8b  d8P'    `Y8
 888   .d88'  888  Y88bo.      888      888 Y88bo.
 888ooo88P'   888   `"Y8888o.  888      888  `"Y8888o.
 888          888       `"Y88b 888      888      `"Y88b
 888          888  oo     .d8P `88b    d88' oo     .d8P
o888o        o888o 8""88888P'   `Y8bood8P'  8""88888P'
*/

.rectangle {
    width: 100%;
    height: 30px;
    background-color: #000000;
}

.triangle-container {
    width: 100%;
    height: 50px;
    background-color: transparent;
}

.triangle {
    width: 100%;
    height: 100%;
    background-image: url('../img/triangle.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: 3px;
}

.SeletorPisos {
    padding-left: 10%;
    padding-right: 10%;
}
.updown_up{
    padding-top: 15px;
}
.updown_down{
    padding-top: 7px;
}
.updown a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    user-select: none;

}
.updown a:hover, updown a:focus{
    color: #ffd24d;

    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.list-group-item {
  cursor: pointer;
  border: solid 1px #000000;
}

.list-group-item.active, .list-group-item:hover {
  z-index: 2;
}

.list-group-item:last-child {
    margin-bottom: -1px;
    border-radius: unset;
}



/*
ooo        ooooo   .oooooo.   oooooooooo.         .o.       ooooo
`88.       .888'  d8P'  `Y8b  `888'   `Y8b       .888.      `888'
 888b     d'888  888      888  888      888     .8"888.      888
 8 Y88. .P  888  888      888  888      888    .8' `888.     888
 8  `888'   888  888      888  888      888   .88ooo8888.    888
 8    Y     888  `88b    d88'  888     d88'  .8'     `888.   888       o
o8o        o888o  `Y8bood8P'  o888bood8P'   o88o     o8888o o888ooooood8
*/
#modal {
  background-color: #FFFFFF;
}
.modal-title>h1 {
    text-align: center;
  }

#btnSave {
    font-weight: 900;
}

#modal {
    background-color: #fffae6;
}


#modal h2 {
    text-align: center;
}

.modal-footer {
  text-align: center;
}

.modal-inline {
    display: inline;
}

.radioButton {
  display: inline;
  padding: 10px;
}

#day_period > label {
    vertical-align: middle;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #333333;
    font-family:Arial, sans-serif;
    font-size:14px;
    cursor: pointer;
}
input[type="radio"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin:0px 6px 0 0;
    vertical-align: text-top;
    cursor:pointer
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color: #d1d3d1;
}

input[type="radio"]:checked + label span{
     background-color: #ffd24d;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}


#form_modal > #modal_div > .form-group > #data_mod_calendar {
  font-size: 14px;
}

#form_sb > #modal_div > .form-group > #data_mod_calendar {
  font-size: 12px;
}

.sb_error {
    color: #e60000;
    text-align: center;
    font-style: italic;
}
.help {
    border-radius: 35px;
    background-color: #4d94ff !important;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF !important;
    position: absolute;
    right: 30px;
}

.help:hover, .help:active, .help:focus {
  background-color: #4d94ff !important;
  color: #FFFFFF !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:999 !important;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
 margin: 5%;
 //padding: 20px;
  background: #fff;
  border-radius: 20px;
  width:90%;

  position: relative;
  transition: all 5s ease-in-out;
  z-index:999 !important;
}
.popup h2 {
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  position: fixed;
  left: 60px;
  text-decoration: underline;
}
.popup .close {
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  //max-width: 90%;
  //max-height: 90%;
  }

  .img-responsive{
      max-width: 95%;
      max-height: 95%;
      margin: 20px;
      width: auto;
      height: auto;
  }

  .glyphWelcome{
      font-size: 50px;
  }

  #initial-popup{
    text-align: center;
  }

  #initial-popup-help{
      background-color: white;
      position: relative;
      width: 100vw;
      left: calc(-50vw + 50%);
      height: auto;
      border-radius: 15px;
      text-align: center;
  }

  #form_initial_help{
    text-align: center;
  }

  #img_help{
    display: -webkit-inline-box;
  }

  .btn-initial-popup{
    text-align: center;
    display: -webkit-inline-box;
  }
/*
oooooooooooo   .oooooo.     .oooooo.   ooooooooooooo oooooooooooo ooooooooo.
`888'     `8  d8P'  `Y8b   d8P'  `Y8b  8'   888   `8 `888'     `8 `888   `Y88.
 888         888      888 888      888      888       888          888   .d88'
 888oooo8    888      888 888      888      888       888oooo8     888ooo88P'
 888    "    888      888 888      888      888       888    "     888`88b.
 888         `88b    d88' `88b    d88'      888       888       o  888  `88b.
o888o         `Y8bood8P'   `Y8bood8P'      o888o     o888ooooood8 o888o  o888o
*/

.footer {
  bottom: 0;
  margin-top: 15px;
  min-width: 100%;
  min-height: 100%;
  background-color: #FFFFFF;
  padding: 0;
}

@media (min-width: 768px){
  .footer > div:first-child {
    margin: 0 0 0 312px;
  }
}

.pending {
  color: #ffd24d;
  font-weight: bold;
}

.approved {
  color: #33cc33;
  font-weight: bold;
}

.rejected {
  color: #cc3300;
  font-weight: bold;
}


/*
oooooooooooo   .oooooo.   ooooooooo.   ooo        ooooo
`888'     `8  d8P'  `Y8b  `888   `Y88. `88.       .888'
 888         888      888  888   .d88'  888b     d'888
 888oooo8    888      888  888ooo88P'   8 Y88. .P  888
 888    "    888      888  888`88b.     8  `888'   888
 888         `88b    d88'  888  `88b.   8    Y     888
o888o         `Y8bood8P'  o888o  o888o o8o        o888o
*/

.icon-recurso1 {
    height: 75px;
    width: 75px;
}

.glyph_sb {
    font-size: 50px;
    text-align: center;
    top: 2px;
}

.input-group {
    padding: 5px 0 15px;
    width: 100%;
}

.input-group-addon {
    word-wrap: break-word;
}

.icon_recurso_init {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.glyph_init {
    font-size: 50px;
    text-align: center;
}

.btn-recurso{
    height:60px;
    width:60px;
    margin-left: 10px;
    margin-right: 10px;
    }

.btn-recurso:hover {
    background-color: #FFFFFF;
}

.btn-recurso:focus {
    background-color: #FFFFFF;
}

.label-recurso {
    margin-left: 15px;
    margin-right: 10px;
}


.btnReserva span {
  cursor: pointer;
}



.btn-recurso{
    height:60px;
    width:60px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.label-recurso {
    display: flex;
    margin-top: 5px;
    text-align: center;
}

#recurso-0 {
  margin-left: 5px;
}

#recurso-1 .label-recurso {
    width: 60px;
    text-align: center;
    margin: 5px 0 0 7px;
}

.divBotoes{
    display: inline-block;
    text-align: center;
}

.glyph{
    font-size: 25px;
    text-align: center;
}

/*
ooo        ooooo       .o.       ooooooooooooo ooooooooo.   ooooo ooooooo  ooooo
`88.       .888'      .888.      8'   888   `8 `888   `Y88. `888'  `8888    d8'
 888b     d'888      .8"888.          888       888   .d88'  888     Y888..8P
 8 Y88. .P  888     .8' `888.         888       888ooo88P'   888      `8888'
 8  `888'   888    .88ooo8888.        888       888`88b.     888     .8PY888.
 8    Y     888   .8'     `888.       888       888  `88b.   888    d8'  `888b
o8o        o888o o88o     o8888o     o888o     o888o  o888o o888o o888o  o88888o
*/

#btn_rooms {
    margin-top: 15px;
}

.btn-rooms {
    margin: 8px;
}

table.matrix {
    text-align: center;
    border: 1px solid #fff;
    user-select: none;
}

table.matrix tbody tr:hover {
    color: #31708f;
    background-color: #d9edf7;
}

table.matrix tbody tr:hover td, table.matrix tbody tr:hover th {
    background-color: #ffd699 !important;
}
table.matrix tbody tr td:hover {
    background-color: #e68a00 !important;
}
table.matrix td.indisponivel:hover {
    color: #777;
    background-color: #eee;
}

table.matrix td {
    border: 1px solid #e6e6e6;
}

table.matrix th {
  text-align: center;
}

.available {
    color: #3c763d;
    font-weight: bold;
    cursor:pointer;
    /*background-color: #dff0d8;*/
    user-select: none;
}


.notAvailable, .notAvailable:hover {
    color: #777;
    background-color: #eee;
    cursor:not-allowed;
    user-select: none;
}

.nearMiss {
    color: #8a6d3b;
    background-color: #fcf8e3 !important;
}

table.matrix .active {
    background-color: #ffd24d !important;
    color: #fff;
    opacity: 1 !important;
}


.undefined{
    color: red;
    background-color: red;
}
.mleft{
    border-bottom: 1px solid #949494 !important;
    border-left: 1px solid #949494 !important;
    border-top: 1px solid #949494 !important;
    background-color:#f9f9f9 ;
}
.mright{
    border-bottom: 1px solid #949494 !important;
    border-right: 1px solid #949494 !important;
    border-top: 1px solid #949494 !important;
}
table.matrix .lunch {
    background-color: #fffae6;
    border-right: solid #e6e6e6 1px;
    border-left: solid #e6e6e6 1px;
    border-top: solid 1px #e68a00;
    border-bottom: solid 1px #e68a00;
}

table.matrix .lunch &.active{
    background-color: #337ab7 !important;
    color: #fff;
}

.leftWeekend {
  background-color: #bfbfbf !important;
}

.rightWeekend {
  background-color: #d9d9d9 !important;
}

.weekend {
  background-color: #b3b3b3;
  color: #FFFFFF;
}
/*
 .oooooo..o ooooo      ooo       .o.         .oooooo.   oooo    oooo oooooooooo.        .o.       ooooooooo.
d8P'    `Y8 `888b.     `8'      .888.       d8P'  `Y8b  `888   .8P'  `888'   `Y8b      .888.      `888   `Y88.
Y88bo.       8 `88b.    8      .8"888.     888           888  d8'     888     888     .8"888.      888   .d88'
 `"Y8888o.   8   `88b.  8     .8' `888.    888           88888[       888oooo888'    .8' `888.     888ooo88P'
     `"Y88b  8     `88b.8    .88ooo8888.   888           888`88b.     888    `88b   .88ooo8888.    888`88b.
oo     .d8P  8       `888   .8'     `888.  `88b    ooo   888  `88b.   888    .88P  .8'     `888.   888  `88b.
8""88888P'  o8o        `8  o88o     o8888o  `Y8bood8P'  o888o  o888o o888bood8P'  o88o     o8888o o888o  o888o
*/
#snackBar {
    visibility: hidden;
    width: auto;
    margin-left: auto;
    margin-right: 30px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    z-index: 10;
    bottom: 30px;
    right: 0;
    font-size: 17px;
    position: fixed;
}
#snackBar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



#btn_close {
    position: absolute;
    right: 26px;
    top: 10px;
    font-size: 35px;
    cursor: pointer;
}

.btn-change-matrix, .btn-reserva, .Limpar-Selecao  {
    margin-top: 15px;
}

.btn-change-matrix {
  width: 170px;
}

.btn-limpar-selecao {
  cursor: pointer;
margin-top: 15px;
text-align: center;
background-color: #FFFFFF;
}

.ic-limpar-selecao {
    display: inline;
}

.ic-limpar-selecao span {
  color: #e60000;
}



.btn-limpar-selecao p {
    display: inline;
    margin: 0;
}

.matrix-btn {
  text-align: center;
}
